%section#home
  - if @home_section.present?
    .left-col
      %h1= "Intro"
    .wrapper
      %article
        #slider
          %ul
            - for asset in @home_section.assets do
              %li
                = image_tag(asset.asset.url(:original), :alt => asset.description)
        .fivecol_content
          - introduction = @home_section.content_areas.where(:name => :Introduction).last
          - if introduction.present?
            - if introduction.display_name.present?
              %h2= introduction.display_name
            :textile
              #{introduction.content}

        .addthis_toolbox.addthis_default_style
          %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
          %a.addthis_button_tweet
          %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
          %a.addthis_counter.addthis_pill_style
        %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e78b281298ffad1", :type => "text/javascript"}

      %aside
        %ul
          %li
            %h4= link_to "Twitter", "http://twitter.com/#{CenatusCms::Application::TWITTER_NAME}"
            %ul#twitter_update_list
              - if @tweets.present?
                - for tweet in @tweets do
                  %li
                    %span= sanitize(auto_link(tweet.text).html_safe)
                    = link_to "#{time_ago_in_words(tweet.created_at)} ago", "http://twitter.com/#{CenatusCms::Application::TWITTER_NAME}/status/#{tweet.id_str}", :style => "font-size:85%"
              - else
                %li
                  %span
                    Wot no Tweets! Looks like Twitter is down or something blew up in the grid..
          - sidebarone = @home_section.content_areas.where(:name => "Sidebar Area 1").last
          - if sidebarone.present?
            %li
              %h4= sidebarone.display_name
              = sidebarone.content.html_safe if sidebarone.content.present?
          - sidebartwo = @home_section.content_areas.where(:name => "Sidebar Area 2").last
          - if sidebartwo.present?
            %li
              %h4= sidebartwo.display_name
              = sidebartwo.content.html_safe if sidebartwo.content.present?

%section#listen
  - if @listen_section.present?
    .left-col
      %h1= "Listen"
    .wrapper
      %article
        %ul
          - for content_area in @listen_section.content_areas.order("sort_order") do
            %li{:class => content_area.name.gsub(/[^0-9A-Za-z]/, "")}
              = content_area.content.html_safe
      %aside
        %ul
          - for content_area in @listen_section.content_areas.order("sort_order") do
            %li
              %h4
                = link_to "#{content_area.display_name}", "#", :class => content_area.name.gsub(/[^0-9A-Za-z]/, "")
%section#biography
  - if @biography_section.present?
    .left-col
      %h1="Biography"
    .wrapper
      %article
        -#- for asset in  do
          -#= image_tag "span-12-wide.png"
        - biography_asset = @biography_section.assets.last
        - if biography_asset.present?
          = image_tag(asset.asset.url(:original), :alt => asset.description, :id => "biog_image")
        .fivecol_content
          - for content_area in @biography_section.content_areas do
            :textile
              #{content_area.content}
          -#.addthis_toolbox.addthis_default_style
          -#  %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
          -#  %a.addthis_button_tweet
          -#  %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
          -#  %a.addthis_counter.addthis_pill_style
          -#%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e78b281298ffad1", :type => "text/javascript"}


      %aside
        %h4= "Discogs"
        %ul
          - for release in @releases do
            %li
              = release.title
              on
              = release.label


%section#gigs
  - if @gigs_section.present?
    .left-col
      %h1= "Gigs / Schedule"
    .wrapper
      %article
        %h2= "Dec. 2012"
        %ul
          -#- for content_area in @gigs_section.content_areas do
          -#  %li
          -#    :textile
          -#      #{content_area.content}
          %li
            %date= "01/08/12"
            %p= "place and description"
            %p= "Town / Country"
          %li
            %date= "01/08/12"
            %p= "place and description"
            %p= "Town / Country"
          %li
            %date= "01/08/12"
            %p= "place and description"
            %p= "Town / Country"
          %li
            %date= "01/08/12"
            %p= "place and description"
            %p= "Town / Country"
        -#.addthis_toolbox.addthis_default_style
        -#  %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
        -#  %a.addthis_button_tweet
        -#  %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
        -#  %a.addthis_counter.addthis_pill_style
        -#%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e78b281298ffad1", :type => "text/javascript"}


      %aside
%section#contact
  - if @contact_section.present?
    .left-col
      %h1= "Contact"
    .wrapper
      %article
        %ul
          - contactone = @contact_section.content_areas.where(:name => "Contact 1").last
          - if contactone.present?
            %li
              %h2= contactone.display_name
              :textile
                #{contactone.content}
          - contacttwo = @contact_section.content_areas.where(:name => "Contact 2").last
          - if contacttwo.present?
            %li
              %h2= contacttwo.display_name
              :textile
                #{contacttwo.content}
        -#.addthis_toolbox.addthis_default_style
        -#  %a.addthis_button_facebook_like{"fb:like:layout" => "button_count"}
        -#  %a.addthis_button_tweet
        -#  %a.addthis_button_google_plusone{"g:plusone:size" => "medium"}
        -#  %a.addthis_counter.addthis_pill_style
        -#%script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e78b281298ffad1", :type => "text/javascript"}
      %aside