%section#home
  - if @home_section.present?
    .wrapper
      .left-col
        %h1= "Intro"
      %article
        #slider
          %ul
            - for asset in @home_section.assets do
              %li
                = image_tag(asset.asset.url(:original), :alt => asset.description)
        - introduction = @home_section.content_areas.where(:name => :Introduction).last
        - if introduction.present?
          %h2= introduction.display_name
          :textile
            #{introduction.content}
        -#- for content_area in @home_section.content_areas.where(:name => :Introduction).last do
        -#  %h2= content_area.name
        -#  :textile
        -#    #{content_area.content}
      %aside
        %ul
          %li
            %h4
              = "Twitter - "
              <a href="http://twitter.com/#{CenatusCms::Application::TWITTER_NAME}" title="#{CenatusCms::Application::TWITTER_NAME}">follow me</a>
            %ul#twitter_update_list
              - if @tweets.present?
                - for tweet in @tweets do
                  %li
                    %span= sanitize(auto_link(tweet.text).html_safe)
                    = link_to "#{time_ago_in_words(tweet.created_at)} ago", "http://twitter.com/#{CenatusCms::Application::TWITTER_NAME}/status/#{tweet.id_str}", :style => "font-size:85%"
              - else
                %li
                  %span
                    Wot no Tweets! Looks like Twitter is down or something blew up in the grid..
          - sidebarone = @home_section.content_areas.where(:name => "Sidebar Area 1").last
          - if sidebarone.content.present?
            %li
              %h4= sidebarone.display_name
              = sidebarone.content.html_safe
          - sidebartwo = @home_section.content_areas.where(:name => "Sidebar Area 2").last
          - if sidebartwo.content.present?
            %li
              %h4= sidebartwo.display_name
              = sidebartwo.content.html_safe

%section#listen
  - if @listen_section.present?
    .wrapper
      .left-col
        %h1= "Listen"
      %article
        %ul
          - for content_area in @listen_section.content_areas.order("sort_order") do
            %li{:class => content_area.name.gsub(/[^0-9A-Za-z]/, "")}
              = content_area.content.html_safe
      %aside
        %ul
          - for content_area in @listen_section.content_areas.order("sort_order") do
            %li
              %h4
                = link_to "#{content_area.name}", "#", :class => content_area.name.gsub(/[^0-9A-Za-z]/, "")
%section#biography
  - if @biography_section.present?
    .wrapper
      .left-col
        %h1="Biography"
      %article
        - for asset in @biography_section.assets do
          = image_tag "span-12-wide.png"
          -#= image_tag(asset.asset.url(:original), :alt => asset.description)
        - for content_area in @biography_section.content_areas do
          %h2= content_area.name
          :textile
            #{content_area.content}
      %aside
        %h4= "Discogs"
        %ul
          %li= "item 1"
          %li= "item 2"
          %li= "item 3"
%section#gigs
  - if @gigs_section.present?
    .wrapper
      .left-col
        %h1= "Gigs"
      %article
        %h2= "Upcoming gigs"
        %ul
          -#- for content_area in @gigs_section.content_areas do
          -#  %li
          -#    :textile
          -#      #{content_area.content}
          %li
            %date= "01/08/12"
            %p= "place and description"
            %p= "Town / Country"
          %li
            %date= "01/08/12"
            %p= "place and description"
            %p= "Town / Country"
          %li
            %date= "01/08/12"
            %p= "place and description"
            %p= "Town / Country"
          %li
            %date= "01/08/12"
            %p= "place and description"
            %p= "Town / Country"
      %aside
%section#contact
  - if @contact_section.present?
    .wrapper
      .left-col
        %h1= "Contact"
      %article
        %h2= "Contact Details"
        %ul
          - for content_area in @contact_section.content_areas do
            %li
              %h3= content_area.name
              :textile
                #{content_area.content}
      %aside