!!!
%html.no-js
  %head
    %title= @page_title or CenatusCms::Application::SITE_NAME

    -#= auto_discovery_link_tag ""
    
    = stylesheet_link_tag :application

    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    %meta{:property => "og:title",  :content => @og_title}
    %meta{:property => "og:type", :content => @og_type}
    %meta{:property => "og:url", :content => @og_url}
    %meta{:property => "og:image", :content => @og_image}
    %meta{:property => "og:site_name", :content => @og_site_name}
    %meta{:property => "fb:admins", :content => @og_admins}

    = javascript_include_tag :application

    %script{:src => "http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4e8084886b4e0697", :type => "text/javascript"}

    - if request.host == "localhost"
      %link{:rel => "stylesheet", :href => "http://f.fontdeck.com/s/css/0YqsPiW6g63C2r0wLfl2RFAC0Vc/localhost/11846.css", :type => "text/css"}
    - else
      %link{:rel => "stylesheet", :href => "http://f.fontdeck.com/s/css/0YqsPiW6g63C2r0wLfl2RFAC0Vc/artist-showcase.herokuapp.com/11846.css", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Droid+Sans+Mono", :rel => "stylesheet", :type => "text/css"}

    -#:javascript
    -#  jQuery(function($){
    -#    $('#show_grid').click(function(){
    -#      $('#container').css("background", "url('/images/grid.png')");
    -#    });
    -#
    -#    $('#hide_grid').click(function(){
    -#      $('#container').css("background", "white");
    -#    });
    -#  });
      
    = csrf_meta_tag

  %body.three-col.bp
    
    #container
      %header
        .logo= "Ziggi Stardust"
        .wrapper
          %nav
            %ul
              %li.landing= nav_link "Home","#home"
              %li.listen= nav_link "Listen","#listen"
              %li.biography= nav_link "Biography","#biography"
              %li.gigs= nav_link "Gigs","#gigs"
              %li.contact= nav_link "Contact","#contact"
          .follow
            .social_intro= "Follow"
            .socialbookmarks
              -#= link_to(image_tag("sb/rss_16.png"), "#")
              = link_to(image_tag("sb/Facebook.png"), "#")
              = link_to(image_tag("sb/LastFM.png"), "#")
              = link_to(image_tag("sb/Twitter.png"), "http://twitter.com/#{CenatusCms::Application::TWITTER_NAME}")
              = link_to(image_tag("sb/Tumblr.png"), "#")
              = link_to(image_tag("sb/YouTube.png"), "#")
            -#.addthis_toolbox.addthis_default_style
            -#  %a.addthis_button_compact{:href => "http://www.addthis.com/bookmark.php?v=250&pubid=ra-4e8084886b4e0697"} Share
      = yield
      %footer
        .wrapper
          &copy; Content by #{CenatusCms::Application::SITE_NAME} | Site powered by #{link_to "Artist Showcase", "#", :class => "about_asc_trigger"} built by #{link_to "Cenatus CIC", "http://cenatus.org/"} &amp; #{link_to "Give Up Art", "http://www.giveupart.com/"}
          #about_asc
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla a ligula eu nunc iaculis imperdiet. Nulla porttitor, lacus ac pretium ornare, neque neque volutpat dolor, nec elementum augue nibh vitae turpis. Vestibulum sagittis egestas bibendum. Quisque ultricies molestie tempor. Mauris in ante ante, ac vulputate sem. Curabitur at lorem id velit pulvinar pulvinar. Pellentesque purus nisl, pellentesque quis viverra at, pulvinar at nunc. Nunc quis orci nisi. Cras mattis luctus nunc eget sagittis.
