!!!
%html.no-js
  %head
    %title= @page_title or CenatusCms::Application::SITE_NAME

    -#= auto_discovery_link_tag ""
    
    = stylesheet_link_tag :application

    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'

    %meta{:property => "og:title",  :content => @og_title}
    %meta{:property => "og:type", :content => @og_type}
    %meta{:property => "og:url", :content => @og_url}
    %meta{:property => "og:image", :content => @og_image}
    %meta{:property => "og:site_name", :content => @og_site_name}
    %meta{:property => "fb:admins", :content => @og_admins}

    = javascript_include_tag :application

    -#%link{:href => "http://fonts.googleapis.com/css?family=Podkova", :rel => "stylesheet", :type => "text/css"}
    
    :javascript
      jQuery(function($){
        $('#show_grid').click(function(){
          $('#container').css("background", "url('/images/grid.png')");
        });

        $('#hide_grid').click(function(){
          $('#container').css("background", "white");
        });
      });
      
    = csrf_meta_tag

  %body.three-col.bp
    
    #container
      %header
        .logo= "Ziggi Stardust"
        %nav
          %ul
            %li.landing= nav_link "Home","#home"
            %li.listen= nav_link "Listen","#listen"
            %li.biography= nav_link "Biography","#biography"
            %li.gigs= nav_link "Gigs","#gigs"
            %li.contact= nav_link "Contact","#contact"
        .socialbookmarks
          -#= link_to(image_tag("sb/rss_16.png"), "/")
          = link_to(image_tag("sb/facebook_16.png"), "/")
          = link_to(image_tag("sb/lastfm_16.png"), "/")
          = link_to(image_tag("sb/twitter_16.png"), "http://twitter.com/#{CenatusCms::Application::TWITTER_NAME}")
          = link_to(image_tag("sb/tumblr_16.png"), "/")
          = link_to(image_tag("sb/youtube_16.png"), "/")
      = yield
      %footer
        &copy; Cenatus CIC &amp; Give Up Art
        -##grid_debug{:style => "float:right"}
        -#  %a#show_grid
        -#    Show Grid
        -#  |
        -#  %a#hide_grid
        -#    Hide Grid